:root{
    --black-color:#0f1111;
    --middle-nav-bgc: #232f3e;
    --gray-color: #cccccc;
    --light-gray-color: #ccc;
    --dark-grey-color: #555555;
    --white-color: #ffffff;
    --yellow-color:#FFD814;
    --yellow-hover-color:#FCD200;
    --orange-color: #FFA41C;
    --orange-hover-color: #f08804;
    --green1-color:#007600;
    --green2-color:#007185;
}